
body {
    background-color: #afe1c2; /* Green color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Arial', sans-serif; /* Set a default font */
  }
  
  .App {
    text-align: center;
  }
  
  h2 {
    color: #ffffff; /* White text color */
  }
  
  /* Add any additional styling as needed */
  